/* .sidebar {
    background-color: white;
    color: black;
} */

/* #jazzy-logo{
    background-color: aliceblue;
    color: black;
} */

/* this is to change the dashboard icon functionality */
/* .fa-th-large:before {
    color: aqua;
} */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content h1 {
    font-size: 5em;
}