{% extends 'blog/boilerplate.html' %}

{% block content_Wrapper %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Create Issue Category</h3>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" id="name" name="name">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Issue Category</button>
      </div>
    </form>
  </div>
</div>
{% endblock content_Wrapper %}
{% block org_name %}
{{org.name}}
{% endblock org_name %}

{% block logo %}
  {% if org.logo %}
    <img src="{{ org.logo.url }}" alt="{{ org.name }} Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
  {% endif %}
{% endblock logo %}