{% extends 'blog/boilerplate.html' %}
{% load static %}
{% comment %} {% block content_Wrapper %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Service List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Service List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Service List</h3>
                <div class="card-tools">
                    <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service Type</th>
                                <th>Criticality</th>
                                <th>Managed By</th>
                                <th>Service Tag</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in service_list %}
                            <tr>
                                <td><a href="{% url 'edit_service' service.id %}">{{ service.name }}</a></td>

                                <td>{{ service.service_type }}</td>
                                <td>{{ service.criticality }}</td>
                                <td>{{ service.managed_by }}</td>
                                <td>{{ service.service_tag }}</td>
                                <td><input type="checkbox" name="selected_services" value="{{ service.id }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-danger">Delete Selected</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content_Wrapper %} {% endcomment %}



{% block extra_styles %}

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

{% endblock extra_styles %}



{% block content_Wrapper %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form action="" method="post">
        {% csrf_token %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
                <div class="card-tools">
                    <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Service Type</th>
                        <th>Criticality</th>
                        <th>Managed By</th>
                        <th>Service Tag</th>
                        <th>Select</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for service in service_list %}
                    <tr>
                        <td><a href="{% url 'edit_service' service.id %}">{{ service.name }}</a></td>

                        <td>{{ service.service_type }}</td>
                        <td>{{ service.criticality }}</td>
                        <td>{{ service.managed_by }}</td>
                        <td>{{ service.service_tag }}</td>
                        <td><input type="checkbox" name="selected_services" value="{{ service.id }}"></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                  <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Service Type</th>
                        <th>Criticality</th>
                        <th>Managed By</th>
                        <th>Service Tag</th>
                        <th>Select</th>
                    </tr>
                  </tfoot>
                </table>
    <button type="submit" class="btn btn-danger">Delete Selected</button>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </section>
</form>
    <!-- /.content -->

{% endblock content_Wrapper %}


{% block script %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock script %}