{% extends 'blog/boilerplate.html' %}

{% block content_Wrapper %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Service List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Service List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Service List</h3>
                <div class="card-tools">
                    <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service Type</th>
                                <th>Criticality</th>
                                <th>Managed By</th>
                                <th>Service Tag</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in service_list %}
                            <tr>
                                <td><a href="{% url 'edit_service' service.id %}">{{ service.name }}</a></td>

                                <td>{{ service.service_type }}</td>
                                <td>{{ service.criticality }}</td>
                                <td>{{ service.managed_by }}</td>
                                <td>{{ service.service_tag }}</td>
                                <td><input type="checkbox" name="selected_services" value="{{ service.id }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-danger">Delete Selected</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content_Wrapper %}
