{% extends 'blog/home.html' %}
{% comment %} {% load static %}

{% block title %}My Page Title{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>This is my page's content.</p>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'blog/js/base.js' %}"></script>
{% endblock %} {% endcomment %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1>Hello Kushal</h1>
    </div>
{% endblock %}

